@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    box-sizing: 0;
    font: chakra petch;
    letter-spacing: 1px;
}
header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: var(--primary-color);
    color: var(--secondary-color);
    /* position: fixed; */
    width: 100%;
    height: 55px;
    align-items: center;
    display: flex;
    justify-content:center;
    padding-inline: 25px;
   }

   html{
       scroll-behavior: smooth;
   }

   .logo{
       max-width: 70px;
   }
/* dark e light mode */
:root{
    --third-color: #1c4c96; /**/
    --primary-color: white; /*background*/
    --secondary-color: #000; /*font*/
    --fourth-color:#607ec9 ; /*hover bt*/

}
.dark-theme{
    transition: 0.5s;
    --third-color:#607ec9;/**/
    --primary-color: black;/*background*/
    --secondary-color: #fff; /*font*/
    --fourth-color:#1c4c96 ; /*hover bt*/

}

#icon{
    width: 30px;
    cursor: pointer;
}
body{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    transition: 0.5s;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
header nav{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

header nav ul {
    display: flex;
    padding: 5px;
}
   
nav ul li {
    list-style: none;
    padding-inline: 15px ;
    padding-top: 5px;
}
nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}
nav ul li a:hover{
    color: var(--fourth-color);
    transition: 0.5s ease;
}

.me{
    display:flex;
    padding: 50px;
    height: 500px;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.me2 h2{
  font-size: 38px;
}
.me2 p{
    font-size: 20px;
}
button a{
    list-style: none;
    text-decoration: none;
    color: white;

}
button{
    margin-top: 5px;
    padding: 10px 20px;
    background: var(--third-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
button:hover{
    background: var(--fourth-color);
}

#foto{
    max-width: 250px;
}
span{
    color:var(--third-color);
}
 .about div{
  padding: 15px;
  gap: 50px;
}

 section .sobre{
    margin-top: 70px;
    text-align: center;
    gap: 55px;
}
.sobre{
    height: 500px;
}
.about {
    padding-inline: 155px;
    margin-bottom: 25px;
}
.about h2{
    margin-bottom: 25px;
}
.about p{
    text-align: justify;
    margin-bottom: 55px;
}
.form{
    margin-bottom: 25px;
}
.form h2{
    margin-bottom: 5px;
}
.sobre h2{
    text-transform: uppercase;
    font-size: 30px;
}
.skills{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 30px;
}
.skills-card{
    background: rgba( 0, 0, 0, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color:var(--third-color) ;
    padding: 50px 30px;
    width: 85px;
    font-size: 20px;
    border-bottom: var(--third-color) 4px solid;
    box-shadow: 0 3px 10px -5px var(--third-color);
}
.skills-card i{
    font-size: 40px;
    margin-top: 5px;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    padding-bottom: 150px;
}
.proj{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin-top: 150px;
    margin-bottom: 35px;
    
}

.project {
    position: relative;
    width: 300px;
    margin: 20px;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s;
    padding: 20px;
    box-sizing: border-box;
}

.project:hover .overlay {
    opacity: 1;
}

.icons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.como{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 100px;
    border-bottom: 2px solid var(--third-color);

}

.como h1{
    align-content: center;
    color: var(--secondary-color);
    font-size: 35px;
    text-shadow: 1px 4px 5px var(--third-color);
}

.redes{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: space-between;
    padding-bottom: 80px;
    padding-top: 80px;
    padding-inline: 100px;
}

.email h3{
    font-size: 22px;
    margin-bottom: 3px;
}
.email2{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.phone h3{
    font-size: 22px;
    margin-bottom: 3px;   
}
.phone2{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.social{
    font-size: 22px;
}
.social i{
    padding-left: 20px;
    margin-top: 5px;
    font-size: 20px;
    cursor: pointer;
    color: var(--secondary-color);
}
.social i:hover{
    color: var(--fourth-color);
    transition: 0.5s ease;
}
footer{
    text-align: center;
    padding: 10px;
    color: var(--secondary-color);
    font-size: 18px;
}
@media screen and (max-width:800px) {
    .me{
        display: flex;
        flex-direction: column;
    }
    .about {
        padding-inline: 70px;

    }
    .skills-card{
        width: 65px;
    }
    .proj{
        font-size: 30px;
        margin-top: 350px;
        margin-bottom: 35px;
    }
    .project {
        position: relative;
        width: 200px;
        margin: 15px;
        overflow: hidden;
    }
    .overlay {
        padding: 10px;
    }
    .icons img {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    .projects h3{
      font-size: 18px;
    }
    .projects p{
        font-size: 13px;
      }

    .email2{
    justify-items: center;
  }
    .como h1{
        font-size: 25px;
        text-shadow: 1px 2px 3px var(--third-color);
    }

}